.triangle{
    position: absolute;
    width: 877px;
    height: 877px;
    background-image: url(/images/kaufman-triangle.svg);
    background-position: center;
    background-size: contain;
    right: -210px;
    background-repeat: no-repeat;
    top: 0;
}