@font-face {
  font-family: "Arial";
  src: url("/fonts/arial/arial.woff") format("woff");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("/fonts/arial/arial-bold.woff") format("woff");

  font-weight: 700;
  font-style: normal;
}
