
.techniques{
  position: relative;
  width: 80%;
    margin-top: 100px;
    margin-left: auto;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 100px auto 0;
  }