.khan_buy-link{
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2F80ED;
    transition: opacity .2s linear;
    cursor: pointer;
    margin-left: 48px;
}
.khan_buy-link:hover{
    opacity: .5;
}
