.header__main_illustration {
    
    width: 765px;
    height: 608px;
    background-size:cover;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    border: 1px solid var(--border-color);
  }