.header_subtitle{
    position: absolute;
    border: 1px solid var(--border-color);
    margin-left: 64px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    bottom: 30px;
    margin-left: 64px;
    width: 338px;
    }